/*
////////////////////////////////////////////////////////////
///                                                      ///
///                     General CSS                      ///
///                                                      ///
////////////////////////////////////////////////////////////
*/
h1, h2, h3, h4 {
    /*color: #008CBA;*/
    color: #444;
    text-align: center;
}

video {
    border-style: solid;
    border-width: 2px;
}

a { 
    color: #003366;
    text-decoration: none;
}

a:hover { color: #FFF; }

button {
    border-style: solid;
    border-width: 0px;
    font-size: 18px;
    cursor: pointer;
}

#user {
    margin-top: 10px;
}

#black-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    visibility: hidden;
}

#dialog-box {
    position: absolute;
    width: 35%;
    height: 15%;
    top: 35%;
    left: 30%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #000;
    visibility: hidden;
}

#dialog-box p {
    margin-top: 5px;
    font-size: 15px;
    color: #FFF;
    text-align: center;
}

#dialog-box button {
    width: 40%;
    height: 40%;
    float: left;
    margin-left: 7%;
}

button#option1 {
    background-color: #00FF00;
}

button#option2 {
    background-color: #FF0000;
}

/**
 * CSS for bar navigation
*/
#topBar {
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
}

#logo { 
    width: 10%;
    height: 100%;
    float: left;
}

#logo img {
    position: relative;
    top: 6%;
}

#menu {
    width: 20%;
    height: 100%;
    float: left;
    margin-left: 2%
}

.option {
    position: relative;
    width: 50%;
    height: 50%;
    float: left;
    top: 35%;
}

/*
////////////////////////////////////////////////////////////
///                                                      ///
///                  CSS for landing page                ///
///                                                      ///
////////////////////////////////////////////////////////////
*/
.info{
    width: 100%;
    height: 50%;
}

.start {
    width: 40%;
    margin: 0px auto;
    margin-top: 100px;
}

#main {
    position: relative;
    width: 100%;
    height: 45%;
    top: 6.5%;
    left: 0;
    background-image: url(../img/main.jpg);
}

#videochat {
    background-color: royalblue
}

#chat {
    background-color: mediumspringgreen
}


/*
////////////////////////////////////////////////////////////
///                                                      ///
///             CSS for videochat application            ///
///                                                      ///
////////////////////////////////////////////////////////////
*/
#videoChatSpace {
    width: 100%;
	height: 80%;
    margin: 0 auto;
	margin-top: 40px;
}

#controls {
    position: absolute;
	width: 5%;
	height: 35%;
	left: 2%;
    top: 30%;
    background-color: #000;
    border-radius: 5px;
}

video#local {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 72%;
    left: 74%;
}

video#remote {
    position: relative;
    width: 80%;
    height: 90%;
    left: 10%;
}

#call {
    width: 55%;
    height: 18%;
    margin: 0 auto;
    margin-top: 20%; 
}

#hangUp {
    width: 50%;
    height: 18%;
    margin: 0 auto;
    margin-top: 10%;
}

#video {
    width: 55%;
    height: 18%;
    margin: 0 auto;
    margin-top: 10%; 
}

#sound {
    width: 75%;
    height: 18%;
    margin: 0 auto;
    margin-top: 10%;               
}

#windows {
    width: 60%;
    height: 18%;
    margin: 0 auto;
    margin-top: 10%; 
}

/**
 * CSS for the dialog box used to confirm or reject the call
*/

#confirm {
    position: absolute;
    width: 35%;
    height: 15%;
    top: 35%;
    left: 30%;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.8;
    visibility: hidden;
}

#confirm #photo {
    position: relative;
    width: 20%;
    height: 70%;
    top: 17%;
    left: 3%;
}

#confirm #photo img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#confirm p {
    position: absolute;
    font-size: 15px;
    color: #FFF;
    top: 30%;
    left: 30%;
}

#confirm #calling {
    top: 50%;
    left: 40%;
}

#confirm button {
    position: absolute;
    width: 25%;
    height: 50%;
    border-left-width: 1px;
    border-left-color: #FFF;
    border-top-right-radius: 5px;
    background-color: #000;
    opacity: 0.7;
}

button#accept {
    top: 0px;
    left: 75%;
    border-bottom-width: 1px;
    border-bottom-color: #FFF;
    border-bottom-right-radius: 5px;
    color: #00FF00;
}

button#reject {
    top: 50%;
    left: 75%;
    color: #FF0000;
}

/*
////////////////////////////////////////////////////////////
///                                                      ///
///             CSS for chat application                 ///
///                                                      ///
////////////////////////////////////////////////////////////
*/
.genericBox  {
    position: fixed;
    width: 20%;
    height: 35%;
    top: 65%;
    left: 79%;
    background-color: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.header {
    width: 100%;
    height: 12%;
    background-color: #003366;
    text-align: center;
    color: #FFF;
}

.header p {
    width: 100%;
    height: 100%;
}

.status {
    width: 100%;
    height: 2%;
    background-color: #00FF00;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


/**
* CSS for the conversation element
*/
#chatArea { 
    left: 55%; 
}

#conversationArea {
    width: 100%;
    height: 70%;
    overflow: auto;
}

textarea {
    position: relative;
    width: 99.2%;
    height: 13%;
    border-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000;
    resize: none;
}

.messageWrapper {
    position: relative;
    width: 100%;
    height: 25%;
}

.message {
    
}

/**
* CSS for users connected element
*/
#friends {
    width: 100%;
    height: 86%;
    overflow: auto;
}

.friend {
    position: relative;
    width: 100%;
    height: 20%;
    margin-bottom: 0px;
}

.friendImage {
    position: absolute;
    width: 17%;
    height: 80%;
    top: 7%;
    left: 2%;
}

.friendImage img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.friendName {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0px;
    left: 20%;
}

.friendName p {
    text-align: center;
    font-size: 15px;
}

.friendStatus {
    position: absolute;
    width: 3%;
    height: 90%;
    top: 5%;
    left: 97%;
    background-color: #00FF00;
}

/*
////////////////////////////////////////////////////////////
///                                                      ///
///              CSS connected users page                ///
///                                                      ///
////////////////////////////////////////////////////////////
*/
#allUsers {
    width:85%;
    height: 85%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: gainsboro
}

.wrapper {
    position: relative;
    width: 25%;
    height: 15%;
    top: 50px;
    float: left;
    margin-left: 70px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: azure;
}

.photo {
    position: relative;
    width: 35%;
    height: 90%;
    top: 5px;
    left: 10px;
    border-radius: 8px;
    background-color: gainsboro;
}

.photo img {
    width: 100%;
    height: 100%;   
}

.userName {
    position: absolute;
    width: 59%;
    height: 45%;
    top: 5px;
    left: 110px;
}

.userName p {
    text-align: center;
    font-size: 25px;
}

.options {
    position: absolute;
    width: 59%;
    height: 45%;
    top: 60px;
    left: 110px;
}

.optionImage {
    width: 50%;
    height: 100%;
    float: left;
}

.optionImage img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}