{{define "main/header"}}
<!doctype html>
<html lang="en" ng-app="KailsApp">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Kails | {{.Title}}</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/jquery.min.js" charset="utf-8"></script>
    <script src="js/foundation.min.js" charset="utf-8"></script>
    <script charset="utf-8">
      $(document).foundation();
    </script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/study_app.js" charset="utf-8"></script>
  </head>

  <body>

    <!-- Start navigation -->
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Kails</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        {{if .IsLogged}}
        <ul class="right">
          <li class="active"><a href="#">Right Button Active</a>
          </li>
          <li class="has-dropdown">
            <a href="#">Right Button Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">First link in dropdown</a>
              </li>
              <li class="active"><a href="#">Active link in dropdown</a>
              </li>
            </ul>
          </li>
        </ul>
        {{end}}

        <!-- Left Nav Section -->
        <ul class="left">
          <li>
            <a href="#">Left Nav Button</a>
          </li>
        </ul>
      </section>
    </nav>

    <!-- End Navigation -->


    <div class="row">
      <div class="center-img">
{{end}}

{{define "main/footer"}}
      </div>
    </div>
  </body>

</html>
{{end}}
