{{define "main/header"}}
    <!doctype html>
    <html class="no-js" lang="en">
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kails | {{.Title}} </title>
        <link rel="stylesheet" href="css/app.css" />
        <script src="js/app.js"></script>
         <style type="text/css">



        </style>
      </head>
    <body>

        <div class="row">
            <div class="medium-3 columns">
                <h2>{{T "simple_greeting"}}</h2>
            </div>
            <div class="medium-9 columns">

{{end}}

{{define "main/footer"}}
            </div>
        </div>
        <script> $(document).foundation(); </script>
        </body>
    </html>
{{end}}
