    <div class="row">
        <div class="large-6 columns text-center divider">
            <h3>Dentro de 2 horas</h3>
            <h3><small>Proximo repaso</small></h3>
        </div>
        <div class="large-6 columns text-center">
            <h3>Mañana a las 4:00pm</h3>
            <h3><small>Hora de repaso recomendada</small></h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="large-3 columns panel">   <h3>23</h3> <h3><small>  pupil </small></h3></div>
        <div class="large-2 columns panel">  <h3>23</h3> <h3><small>  sage </small></h3></div>
        <div class="large-2 columns panel">  <h3>23</h3> <h3><small>  prophet </small></h3> </div>
        <div class="large-2 columns panel">  <h3>23</h3> <h3><small> magician </small></h3></div>
        <div class="large-3 columns panel"> <h3>23</h3> <h3><small> immortal </small></h3> </div>
    </div>

    <div class="row">
        <fieldset>
            <legend>Progreso</legend>
            <div class="row">
                <h4>Raices</h4>
                <div class="progress small-12 radius"> <span class="meter" style="width: {{.PerRoots}}%"></span> </div>
            </div>
            <div class="row">
                <h4>Vocabulario</h4>
                <div class="progress small-12 radius"> <span class="meter" style="width: {{.PerVocab}}%"></span> </div>
            </div>
            <div class="row">
                <h4>Gramatica</h4>
                <div class="progress small-12 radius"> <span class="meter" style="width: {{.PerGrammar}}%"></span> </div>
            </div>
        </fieldset>
    </div>

