    <!-- Done message section -->
<div ng-show="Done">
  <div class="content-section">
    <h1>{{T "congratulations_string"}}</h1>
  </div>
</div>


<!-- Flashcard section -->
<div class="flashcard" ng-show="!Done">
  <div class="card" ng-class="{'flipped':isFlipped, 'transition': isFlipped}">

    <!-- Front face -->
    <div class="face front" ng-click="isFlipped=!isFlipped">
      <div class="columns large-12">
        <span ng-bind="Front"></span>
      </div>
    </div>

    <!-- Back face -->
    <div class="face back">
      <div class="word">
        <span ng-bind="Back"></span>
      </div>
      <ul class="button-group ">
        <li><a class="button success" href="#" ng-click="NextCard(true)">{{T "was_right"}}</a>
        </li>
        <li><a class="button alert" href="#" ng-click="NextCard(false)">{{T "was_wrong"}}</a>
        </li>
      </ul>
    </div>

  </div>
</div>
