<div class="content-section">

    <div class="flashcard">
        <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
            <div class="face front">
                <div class="columns large-12">
                    Front
                </div>
            </div>
            <div class="face back">
                    <div class="word">
                        Back
                    </div>
                    <ul class="button-group ">
                        <li><a class="button success" href="#">I was right</a></li>
                        <li><a class="button alert" href="#">I was wrong</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
