<div class="large-12">
  <div class="content-section">
    <div ng-controller="LessonController">

      <!-- Pre-lesson banner -->
      <div ng-show="InStart">

        <div class="row">
          <div class="columns large-12">
            <h1>{{T "start_lesson"}}</h1>
          </div>

          <div class="columns large-offset-9 large-3">
            <br>
            <button ng-click="startLesson()">{{T "start_string"}}</button>
          </div>
        </div>
      </div>

      <!-- Lesson section -->
      <div class="lesson" ng-show="InLesson">

        <!-- progress bar -->
        <div class="row">
          <div class="columns medium-12">
            <div class="progress radius">
              <span class="meter" ng-style="Width"></span>
            </div>
          </div>
        </div>

        <!-- Question | Answer section -->
        <div class="row">
          <!-- Question section -->
          <div class="columns medium-6">
            <div class="panel pregunta" ng-bind="Card.Native"></div>
          </div>

          <!-- Answer section -->
          <div class="columns medium-6" on-enter="Next()">
            <div class="panel traduccion">
              <input ng-disabled="InValidation" ng-model="Card.Answer" type="text" placeholder="{{T " answer_string "}}" get-focus="TextInput">
            </div>
          </div>

          <!-- Validation section -->
          <div class="columns medium-10" ng-show="InValidation">
            <div class="alert-box success" ng-show="Correct"> {{T "correct_string"}} </div>
            <div class="alert-box alert" ng-show="!Correct">
              {{T "wrong_string"}} {{T "correct_answer_string"}}: <span ng-bind="Card.Translation"></span>
            </div>
          </div>

          <!-- Submit button -->
          <div class="columns medium-2">
            <span ng-bind="Check"></span>
            <button ng-click="Next()" get-focus="Button">{{T "check_string"}}</button>
          </div>
        </div>
      </div>

      <!-- Post-lesson section -->
      <div ng-show="InAfterLesson">
        <h1>{{T "congratulations_string"}}</h1>
        {{T "earned_points_string"}} <span ng-bind="ExperienceGained"></span> {{T "experience_points_string"}}
        <a href="/flashcard" class="button">Flashcards</a>
      </div>
    </div>


  </div>
</div>
