@import "settings";
@import "foundation";
@import "webrtc";

// Or selectively include components
// @import
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
//   "foundation/components/accordion",
.logo {
  //text-align: center;
  //font: bold 80px Sans-Serif;
  //padding: 40px 0;
  //background: #0e8dbc;
  color      : white;

  font-family: "Open Sans", sans-serif;
  font-size: 3.5rem;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

body {
  //background-image: url(img/white_congruent_outline.png);
  background-color: rgb(245, 245, 245);
  font-family     : "Open Sans", sans-serif;
  height          : 100%;
  min-height      : 100%;

  .content {
    //max-width: 100%;
    //min-height: 100%;
    padding-top: 1rem;
  }
}

.close {
    font-size: 1.22222rem;
    line-height: 0;
    margin-top: -0.61111rem;
    margin-right: -.5rem;
    float: right;
    color: #333;
    opacity: 0.5;
}

.sidebar {
  //text-align: right;
  //padding-right: 1rem;
  //margin-right: 0px;
  // background-color:   #E9E9E9;
  direction: rtl;

  .button {
    //direction: rtl;
    background-color: rgb(0, 146, 198);
    box-shadow: 0 0 .2rem #888;
    font-size: 1.2rem;
    padding-left: 2.5rem;
    padding-right: 1rem;

    &:hover {
      padding-left: 4rem;
    }
  }

}

.next-level-label {
    position: relative;
    bottom: 1.8em;
    float: right;
    padding: .5em 1em;
    border-radius: 2em;
    font-size: 1em;
    line-height: 1.5;
    background-color: #D8D8D8;
    color: #333;
    margin-right: -1em;
}

.sidebar-section {
  background-color: white;
  box-shadow: 0 0 0.2rem #888;
}

.content-section {
  background-color: white;
  box-shadow: 0 0 0.2rem #888;
  padding: 2rem;

  img {
    margin-left: 20%;
    max-height : 25%;
    max-width  : 50%;
  }

}

.learn {
  border-right: solid 1rem rgba(0, 204, 255, .8);
}

.study {
  border-right: solid 1rem rgba(0, 189, 51, .8);
}

.practice {
  border-right: solid 1rem rgba(255, 32, 32, 0.8);
}

.panel,
.panel input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;

}

.progress {
    background-color: #D8D8D8;
    border: 1px solid #DADADA;
}

.lesson {
    button {
        float: right;
    }
}
// .traduccion {
  //margin-right: 5rem;
//   background-color: rgb(0, 146, 198);
//   border          : none;
//   box-shadow      : 0 0 0.2rem #888;
//   height          : 6.5rem;
//   padding-top     : 3rem;
// input {
//
//   background  : none repeat scroll 0 0 transparent;
//   border-color: rgb(0, 117, 147);
//   border-style: none none solid;
//   border-width: 0 0 2px;
//   box-shadow  : none;
//   color       : white;
// &:focus {
//   background  : none repeat scroll 0 0 transparent;
//   border-color: #83c7ff;
//   border-style: none none solid;
//   border-width: 0 0 2px;
//   box-shadow  : none;
// }
//
// }
// }

.pregunta {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}


.no-bullet-list {
    list-style: none outside none;
}
// .pregunta {
//   //margin-left: 5rem;
//   //padding: 1.5rem 0rem 1.5rem;
//   //font-weight: bold;
//   background-color: rgba(0, 189, 51, 0.8);
//   border          : none;
//   box-shadow      : 0 0 0.2rem #888;
//   color           : white;
//   height          : 6.5rem;
//   padding-top     : 3rem;
// }
