.flashcard {
  perspective: 800;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 50px auto;
  font-size: 0.8em;

  .card {
    width: 100%;
    height: 100%;


    &.transition {
      transform-style: preserve-3d;
      transition: 1s;

    }
    margin: 0;

    &.flipped {
      transform: rotatey(-180deg);
    }
    .face {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      z-index: 2;
      font-size: 3em;
      text-align: center;
    padding-top: 2rem;

    }
    .front {
      position: absolute;
      z-index: 1;
      background: black;
      color: white;
      cursor: pointer;
    }
    .back {
      transform: rotatey(-180deg);
      background: #ccc;
      color: black;
      cursor: pointer;
      margin: 0;
      width: 100%;

      .word {
        height: 220px;

      }
      .button-group {
        li {
          width: 50%;
        }

      }
      .button {
        width: 100%;
      }
    }
  }
}
