.title {

  .fa-circle {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #00e700;
    font-size: 0.9rem;
  }

}
.pricing-table {
  .button-group {
    li {
        margin: 0;
      width: 48%;
    }
    .button {
        margin: 0;
      padding: 0.5rem 0;
      width: 100%;
    }
  }
}
