<div ng-switch="Section">

  <div class="columns large-12" ng-switch-default>
    <div class="content-section">
      <loading-animation></loading-animation>
      <h2>{{T "searching_for_partner"}}</h2>
      <h2>.<animated-ellipses> </animated-ellipses><h2>
    </div>
  </div>

  <div  class="columns large-8" ng-switch-when="Chat">
      <div class="content-section">
        <div class="chat-area" style="overflow-y:auto;" scroll-glue="glue">

          <div class="row messages" ng-repeat="obj in Messages">
            <div class="columns medium-5 message"
                ng-class="{this: obj.isUser && !obj.isServer, other: !obj.isUser && !obj.isServer, server: obj.isServer}">
                <img src="img/not_available.jpg" ng-show="!obj.isUser"></img>
                [{obj.Message}]
            </div>
          </div>
        </div>

        <textarea ng-model="Message.text" data:on-enter="sendMessage()" ng-disabled="textinput.disabled"></textarea>

      </div>
  </div>

  <div  class="columns large-4" ng-switch-when="Chat">
      <div class="content-section">
          <div ng-include="UserInfo()"> </div>
      </div>
  </div>

</div>
