<div>
  <div class="columns large-4">
    <div class="content-section">

      <ul class="no-bullet-list">
        <li ng-repeat="peer in ChatPartners">
          <a href="" ng-click="setActive(peer.id)">
            <div class="friendImage"><img src="img/not_available.jpg"></img>
            </div>
            <div class="friendName" ng-bind="peer.name"></div>
            <div class="friendStatus"></div>
          </a>
        </li>
      </ul>

    </div>
  </div>

  <div class="columns large-8">
    <div class="content-section">
      <div style="overflow-y:scroll; height: 200px;" scroll-glue="glue">

        <div class="messageWrapper" ng-repeat="obj in Messages" ng-style="">
          <img src="img/not_available.jpg"></img>
          <div class="message" ng-bind="obj.Message"></div>
        </div>

      </div>

      <textarea ng-model="Message" data:on-enter="sendMessage()"></textarea>

    </div>
  </div>
</div>
