{{define "header"}}
<!doctype html>
<html lang="en" ng-app="KailsApp">
	<head>
		  <link rel="stylesheet" href="/easyrtc/easyrtc.css"/>
	    <link rel="stylesheet" href="css/app.css"/>
	    <link rel="stylesheet" type="text/css" href="bower_components/foundation/css/foundation.css"/>  
	    <link rel="stylesheet" type="text/css" href="css/webrtc.css">

	    <script src="js/jquery.min.js"></script>
	    <script src="socket.io/socket.io.min.js"></script>
	    <script src="easyrtc/easyrtc.js"></script>
      <script src="js/foundation.min.js" charset="utf-8"></script>
      <script charset="utf-8">
        $(document).foundation();
      </script>
      <script src="js/angular.js"></script>
      <script src="js/angular-resource.js"></script>
      <script src="js/angular-route.js"></script>
      <script src="js/com.js" charset="utf-8"></script>
      <script src="js/study_app.js" charset="utf-8"></script>
	</head>
	<body>
        <div id="sideBar">
            <div id="logo">
                <img src="img/logo.png"></img>
            </div>
            <div id="options">
               <ul>
                   <li><a href="/practice">Friends</a></li>
                   <li><a href="/chat">Chat</a></li>
                   <li><a href="/videochat">Videochat</a></li>
               </ul>
            </div>
        </div>

        <div id="topBar">
            <div id="menu">
                <div class="topBarOption"><a href="#">Study</a></div>
                <div class="topBarOption"><a href="#">Practice</a></div>
            </div>
        </div>
	</body>
</html>

{{end}}