<div ng-controller="PracticeController">
  <h2>{{.Title}}</h2>
  <div id="infoSection">
    <input id="add_topic" class="button" type="button" value="Add Topic" ng-click="showTopics()"></input>
    <input id="discover" class="button" type="button" value="Discover"></input>
  </div>

  <div id="topicsSection">
    <button id="[{topic}]" class="topic" ng-repeat="topic in topics"><h4>[{topic}]</h4></button>
  </div>

  <div id="addTopic" ng-show="add">
    <div id="header">Available Topics</div>
    <div id="topicsWrapper">
        <div id="[{topic}]" class="topic" ng-repeat="topic in topicsAvailable">
          <h4>[{topic}]</h4>
          <input class="addButton" name="topic" type="submit" value="Add" ng-click="addTopic(topic)"></input>
        </div>
    </div>   
  </div>

  <div id="notAllowed" ng-show="notAllowed">
    <div id="message">You can't add more topics by now</div>
    <input id="notAllowedButton" type="button" value="Accept" ng-click="notAllowed = !notAllowed"></input>
  </div>
