<div ng-controller="InfoController">
  <h2>{{.Title}}</h2>
  <div id="infoSection">
    <input id="add_topic" class="button" type="button" value="Add Topic" ng-click="addTopic()"></input>
    <input id="discover" class="button" type="button" value="Discover"></input>
  </div>

  <div id="topicsSection">
    <button id="[{topic}]" class="topic" ng-repeat="topic in topics"><h4>[{topic}]</h4></button>
  </div>

  <div id="addTopic" ng-show="add">
    <div id="header">Available Topics</div>
    <div id="topicsWrapper">
        <div id="[{topic}]" class="topic" ng-repeat="topic in topics">
          <h4>[{topic}]</h4>
          <input class="addButton" type="button" value="Add"></input>
        </div>
    </div>   
  </div>
</div>
