<div ng-switch="Section">


  <div class="columns large-12" ng-switch-default>
    <div class="content-section">
      <loading-animation></loading-animation>
      <h2>{{T "searching_for_partner"}}</h2>
      <h2>.<animated-ellipses> </animated-ellipses><h2>
    </div>
  </div>

  <div class="columns large-12" ng-switch-when="FoundPeer">
      <h2>Found Chat partner!</h2>
      <p>
          Please give permission to use your webcam in the dialog that is about to appear.
      </p>
  </div>

  <div ng-switch-when="Chat">
    <div class="columns large-4">
      <div class="content-section">
        <div id="otherClients"></div>
        <div class="flex-video">
          <video id="local"></video>
        </div>
      </div>
    </div>
    <div class="columns large-8">
      <div class="content-section">

        <div class="flex-video">
          <video id="remote"></video>
        </div>


      </div>
    </div>
  </div>
  <div class="columns large-12" ng-switch-when="CallEnded">
    <div class="content-section">
        <h2>The call ended, try again?</h2>
        <a ng-click="Start()" class="button">Find new partner</a>
    </div>
  </div>
</div>
