<div class="columns large-12">
  <div class="content-section">

    <h2>{{T "friends_string"}}</h2>

    <div class="row">
      {{range .Friends}}
      <div class="columns large-2">
        <ul class="pricing-table">

          <li class="title">
            {{.Username}}
            <i class="fa fa-circle" ng-show="LoggedIn['{{.Username}}']"></i>
          </li>

          <li class="description">{{T (printf "%v_string" .StudyLanguage )}}</li>
        </ul>
        <br>

      </div>
      {{end}}
    </div>

  </div>
</div>
