
<div class="columns large-12">
	<div class="content-section">


	<h2>{{.Title}}</h2>
	<div class="userWrapper" ng-repeat="friend in friends"
							 ng-style="{top: [{friend.top}], left: [{friend.left}]}">
		<div class="userInfo">
		  <div ng-style="{width: '3%', height: '100%', 'background-color': [{friend.color}]}"></div>
		  <div class="userImage"><img src="img/not_available.jpg"></img></div>
		  <div class="name">[{friend.Username}]</div>
		  <div class="lang">[{friend.StudyLanguage}]</div>
		  <div class="country">{{.Country}}</div>
		</div>
		<div class="userOptions">
			<a href="/chat" class="chatOption"><img src="img/chat-icon.png"></a>
			<a href="/videochat" class="videoOption"><img src="img/call.png"></a>
		</div>
	</div>
</div>

</div>
