<div class="columns large-9">
  <div class="content-section">
    {{range .Lessons}}
    <a href="/study/{{.Id}}" class="button">{{.Description}}</a> {{end}}
  </div>
</div>
<div class="columns large-3">
  <div class="sidebar-section">
    <br>
    <h3>{{T "lesson_string"}}</h3>
    <h1>{{.Level}}</h1>

    <div class="progress success">
      <span class="meter" style="width: 20%">{{.Experience}}xp</span>
      <span class="next-level-label label">{{.NextLevel}}</span>
    </div>
  </div>
</div>
