<div class="columns large-9">
  <div class="content-section">
    {{range .Lessons}}
        <a href="/study/{{.Id}}" class="button" style="opacity: {{.Opacity}}">{{.Description}}</a>
    {{end}}
  </div>
</div>
<div class="columns large-3">
    <div class="row content">
        <div class="columns">
        <div class="sidebar-section">
            <a href="/practice" class="button">Practice</a>

        </div>
    </div>


    </div>
    <div class="row content">
        <div class="columns">


  <div class="sidebar-section">
    <br>
    <h3>{{T "level_string"}}</h3>
    <h1>{{.Level}}</h1>

    <div class="progress success">
      <span class="meter" ng-style="Width">{{.Experience}}xp</span>
      <span class="next-level-label label">{{.NextLevel}}</span>
    </div>
  </div>
        </div>
    </div>
</div>
<script charset="utf-8">
    var PercentDone = "{{.PercentDone}}%";
</script>
